/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --decorated-zone-color: #353430;
  --main-bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --nav-color: #353430;
  --nav-hover-color: rgb(50 49 45 / 0.4);
  --main-accent-text-color: #FF8DCB;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --header-logo-color: #FFC2E6;
  --footer-logo-color: #FFC2E6;
  --footer-text-shadow-color: #FF8DCB;
}

@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #FF8DCB;
  --decorated-zone-color: #353430;
  --main-bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --nav-color: #353430;
  --nav-hover-color: rgb(50 49 45 / 0.4);
  --main-accent-text-color: #FF8DCB;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --header-logo-color: #FFC2E6;
  --footer-logo-color: #FFC2E6;
  --footer-text-shadow-color: #FF8DCB;
  }

  .header__text-rec {
    display: none;
  }
}

.theme-light .header__text-rec {
  display: none;
}

@media (width >= 1024px) {
  :root.theme-light {
    --footer-text-shadow-color: #FF0070;
  }
}

@media (prefers-color-scheme: light) {
  @media (width >= 1024px) {
    :root {
      --footer-text-shadow-color: #FF0070;
    }
  }
}
