/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  padding: 0 10px;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  padding: 75px 0 66px;
  block-size: 100vb;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: inline-block;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-block-start: 10px;
  inset-inline-end: 0;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: inline-block;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-block-end: 10px;
  inset-inline-start: 0;
  inline-size: 25px;
  block-size: 25px;
}

.header__text-rec {
  position: absolute;
  color: var(--accent-color);
  text-transform: uppercase;
  inset-block-start: 10px;
  inset-inline-end: 28px;
}

.header__text-rec::after {
  content: '';
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
    inset-block-start: 8px;
    inset-inline-end: -18px;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
}

.header__theme-menu-item:not(:last-child) {
  margin-block-end: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 1px 13px;
  color: var(--accent-color);
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  align-self: center;
  color: var(--focus-text-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  align-self: end;
}

.title-decor {
  color: var(--title-decor-text);
  font-weight: 700;
  background-color: var(--accent-color);
}

.title-decor_normal {
  font-weight: 400;
}

.term__text {
  font-weight: 400;
}

.term__link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.main {
  padding-block: 40px;
}

.hard-focus {
  padding-block-end: 50px;
}

.title {
  padding-block-end: 20px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: inherit;
}

.hard-focus__item:not(:last-of-type),
.decrease-focus__item:not(:last-of-type),
.advices-focus__item:not(:last-of-type)  {
  margin-block-end: 20px;
}

.term__title {
  margin-block-end: 10px;
  font-size: inherit;
}

.term__text {
  color: var(--paragraph-text-color);
}

.decrease-focus {
  padding-block-end: 50px;
}

.advices-focus__content {
  margin-block-end: 50px;
}

.advices-focus__content-title {
  margin-block-end: 20px;
  font-size: 18px;
}

.advices-focus__gallery-title {
  margin-block-end: 10px;
}

.advices-focus__gallery-container {
  display: grid;
  justify-items: center;
  gap: 10px;
}

.advices-focus__picture {
  display: block;
}

.footer {
  position: relative;
  display: grid;
  place-content: center;
  block-size: 100vb;
  min-block-size: 668px;
}

.footer__title {
  color: var(--focus-text-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .page {
    padding: 0 20px;
  }

  .header {
    padding: 192px 0 183px;
  }
  
  .decorated-zone::before {
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
  }

  .header__text-rec {
    inset-block-start: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
  }

  .header__text {
    justify-self: end;
    inline-size: 50%;
  }

  .main {
    padding-block: 60px;
  }

  .hard-focus {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    padding-block-end: 80px;
  }

  .hard-focus__title {
    padding: 0;
  }

  .decrease-focus {
    padding-block-end: 80px;
  }

  .decrease-focus__title {
    inline-size: 236px;
  }

  .advices-focus {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 80px 20px;
  }

  .advices-focus__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .advices-focus__content {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  .advices-focus__gallery {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }

  .advices-focus__gallery-title {
    margin-block-end: 20px;
  }

  .advices-focus__gallery-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .advices-focus__picture_sunset {
    grid-column: 2 span;
    grid-row: 1 / 2;
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
  }

  .advices-focus__picture_ice-cream {
    grid-column: 3 / -1;
    grid-row: 2 span;
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
  }

  .advices-focus__picture_tape {
    grid-column: 1 / 2;
    grid-row: 2 / 2 span;
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
  }

  .advices-focus__picture_books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
  }

  .advices-focus__picture_street {
    grid-column: 2 / 2 span;
    grid-row: 3 / -1;
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 0.83;
  }
}

@media (width >= 1024px) {
  .header {
    padding: 20px 0 134px;
  }

  .header__theme-menu {
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    inline-size: 230px;
  }

  .header__theme-menu-item:not(:last-child) {
    margin-block-end: 0;
  }

  .header__title {
    align-self: end;
  }

  .hard-focus {
    grid-template-columns: 315px 1fr;
  }

  .decrease-focus__title {
    inline-size: 315px;
  }

  .decrease-focus__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
  }

  .hard-focus__item:not(:last-of-type), 
  .decrease-focus__item:not(:last-of-type), 
  .advices-focus__item:not(:last-of-type) {
    margin-block-end: 0;
}
}